[submodule "five-g/attack/blind-dos/SPADE"]
	path = five-g/attack/blind-dos/SPADE
	url = https://github.com/ashish-gehani/SPADE.git
[submodule "five-g/attack/blind-dos/OAI-5G-Docker"]
	path = five-g/attack/blind-dos/OAI-5G-Docker
	url = https://github.com/5GSEC/OAI-5G-Docker
[submodule "five-g/attack/blind-dos/PIDSMaker"]
	path = five-g/attack/blind-dos/PIDSMaker
	url = https://github.com/hassaanirshad/PIDSMaker.git
[submodule "five-g/attack/5glatte/srsRAN_Project"]
	path = five-g/attack/5glatte/srsRAN_Project
	url = https://github.com/srsRAN/srsRAN_Project.git
